<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MainSuite" parallel="none">
    <listeners>
        <listener class-name="com.main.listener.ReportListener"/>
        <listener class-name="com.main.listener.RetryListner"/>
    </listeners>
    <test name="MainTestLogin" thread-count="1">
        <classes>
            <class name="com.main.test.GoogleTest"/>
            <class name="com.main.test.FacebookTest"/>
        </classes>
    </test>
</suite>